
.cabecera {
  background-color: red;
}


.productos {
  position: relative;
}

.auto {
  padding-top: 20px;
  padding-bottom: 20px;
}

.camioneta {
  padding-top: 20px;
  padding-bottom: 20px;
}

.position {
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  font-size: 18px;
  line-height: 1.5;
}



.productos-camioneta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  font-size: 18px;
  line-height: 1.5;
}

.productos-camioneta div {
  padding: 0.5%;
}

.productos div {
  padding: 0.5%;
}

.portada h3 {
  font-size: 30px;
}

.p {
  display: flex;
  line-height: 1;
  text-transform: capitalize;
  margin: 1%;
  padding: 1%;
}

.productos h3 {
  text-align: center;
  text-decoration: underline;
}

.productos-camioneta h3 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.productos img {
  display: block;
  margin: 0px auto;
}

.productos-camioneta img {
  display: block;
  margin: 0px auto;
}


h1 {
  font-family: jersey;
  font-size: 50px;
}

h2 {
  font-family: Yanone;
  font-size: 25px;
}

h3 {
  font-family: Yanone;
  font-size: 30px;
}

.portada {
  background-color: grey;
  color: white;
  text-align: center;
  border-top: 1px solid black;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quieneSomos {
  font-family: roboto-regular;
  font-size: 15px;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

@font-face {
  font-family: "Yanone";
  src: url("../fonts/yanone.ttf");
}
@font-face {
  font-family: "jersey";
  src: url("../fonts/Jersey M54.ttf");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url(../fonts/roboto-bold.ttf);
}


.grid-inicio {
  display: grid;
  height: auto;
  width: auto;
  gap: 1px;
  grid-template-columns: auto;
  grid-template-rows: auto 50% 30% auto auto auto;
  grid-template-areas: "header" "portada" "texto" "footer";
}

header {
  grid-area: header;
}

.logoPrincipal {
  grid-area: portada;
  padding-bottom: 30px;
}

.texto {
  grid-area: texto;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  grid-area: footer;
}

.productos-nav {
  list-style: none;
  line-height: 30px;
  font-family: Yanone;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.titulo-portada {
  font-size: 50px;
}

.contactoAyuda {
  text-align: center;
  font-family: roboto-bold;
  font-size: 20px;
}


.grid-autos {
  display: grid;
  height: auto;
  width: auto;
  gap: 1px;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "main main" "productos productos" "footer footer";
}

header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.productos {
  grid-area: productos;
}

footer {
  grid-area: footer;
}


.grid-ayuda {
  display: grid;
  height: auto;
  width: auto;
  gap: 1px;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "main main" "main main" "footer footer";
}

header {
  grid-area: header;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}


.grid-camioneta {
  display: grid;
  height: auto;
  width: auto;
  gap: 1px;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "main main" "productos-camioneta productos-camioneta" "footer footer";
}

header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.productos-camioneta {
  grid-area: productos-camioneta;
}

footer {
  grid-area: footer;
}


@media screen and (min-width: 768px) {
  .grid-inicio {
    display: grid;
    height: auto;
    width: auto;
    gap: 3px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "main main" "main main" "footer footer";
  }
  .menuHeader {
    display: inline;
    padding: 10px;
  }
  .main {
    grid-area: main;
  }
  .portada {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .quieneSomos {
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .grid-autos {
    display: grid;
    height: auto;
    width: auto;
    gap: 1px;
    grid-template-columns: auto auto;
    grid-template-rows: 5, auto;
    grid-template-areas: "header header" "main main" "productos productos" "footer footer";
  }
  header {
    grid-area: header;
    font-size: 10px;
  }
  main {
    grid-area: main;
  }
  .productos {
    grid-area: productos;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 1024px) {
  .grid-camioneta {
    display: grid;
    height: auto;
    width: auto;
    gap: 1px;
    grid-template-columns: auto auto;
    grid-template-rows: 5, auto;
    grid-template-areas: "header header" "main main" "productos-camioneta productos-camioneta" "footer footer";
  }
  header {
    grid-area: header;
    font-size: 10px;
  }
  main {
    grid-area: main;
  }
  .productos-camioneta {
    grid-area: productos-camioneta;
  }
  footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 1024px) {
  .grid-ayuda {
    display: grid;
    height: auto;
    width: auto;
    gap: 1px;
    grid-template-columns: auto auto;
    grid-template-rows: 5, auto;
    grid-template-areas: "header header" "main main" "main main" "footer footer";
  }
  header {
    grid-area: header;
    font-size: 10px;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}


.bodylogin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../multimedia/img/fondo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

.contenedor {
  width: 70%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition: all .5s ease-out;
  margin-top: 40px;
}

.bienvenido {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  font-size: 80px;
}

.mensaje {
  padding: 10px;
  margin-top: 40px;
  color: white;
}

.mensaje h2 {
  font-size: 25px;
  padding: 10px;
  margin-top: 50px;
  color: white;
}

.mensaje button {
  padding: 10px;
  font-weight: 400;
  background-color: #6464f8;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 32px;
  transition: all .3s ease-in;
  color: #fff;
}

.mensaje button:hover {
  background-color: #6464f8;
}

.formulario1 {
  width: 400px;
  height: 380px;
  padding: 15px;
  margin: 2px;
  margin-top: 50px;
  background-color: grey;
  text-align: center;
  border-radius: 15px;
  border: solid black;
}

.formulario1 input {
  width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  outline: none;
  padding: 10px;
  font-size: 15px;
  color: black;
  border: solid black 1px;
}

.formulario1 input[type="button"] {
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
  background-color: #6464f8;
  font-weight: 600;
  margin-top: 20px;
  font-size: 13px;
  cursor: pointer;
  color: black;
}

.formulario2 {
  width: 400px;
  height: 380px;
  padding: 15px;
  margin: 2px;
  margin-top: 50px;
  text-align: center;
  border-radius: 25px;
}

.formulario2 input {
  width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 25px;
  background-color: white;
  border:  solid black;
  text-align: center;
  justify-content: center;
  outline: none;
  padding: 10px;
  font-size: 15px;
  color: black;
}

.formulario2 input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid black;
  padding: 15px;
  border-radius: 25px;
  background-color: grey;
  font-weight: 600;
  margin-top: 20px;
  font-size: 13px;
  cursor: pointer;
  color: #222;
}

.crear-cuenta {
  margin: 20px;
}


.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}


/*# sourceMappingURL=style.css.map */