/*css footer*/
footer {
    background-color: red;
    font-family: Yanone;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-around;
    div {
        a .instagram{
            img {

            }
        }

        a .twitter{
            img {

            }
        }
    }
    div .horarios{
        p {
            text-align: center;
            font-family: Yanone;
            font-size: 16px;
        }
    }
    a .wsp{
        a{
            position: fixed;
            right: 50px;
            bottom: 10%;
        }
    }
}


