/*animaciones*/
.menuheader:hover {
    color: white;
    transform: scale(1.1);
    margin-right: 15%;
  }
  
  .productos img:hover {
    transform: scale(2);
    margin-left: 40%;
  }
  
  .main img:hover {
    transform: scale(2);
    margin-left: 40%;
  }